body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.popup-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup-form {
  background-color: #101826;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  max-width: 600px;
  position: relative; /* Position relative for close button positioning */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-icon {
  fill: white;
  color: white;
  width: 20px;
  height: 20px;
}

.popup-form h2 {
  color: white;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  color: white;
  display: block;
  margin-bottom: 5px;
}

/* .select-field {
  width: 100%;
  background-color: #1d293d;
  border: 1px solid #556877;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
} */

.description-field {
  width: 100%;
  background-color: #1d293d;
  border: 1px solid #556877;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
  outline: none;
}

.error-message {
  color: #ff4d4f;
  font-size: 12px;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.submit-btn,
.cancel-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}

.submit-btn {
  background-color: #2869ff;
  color: white;
}

.submit-btn:hover {
  background-color: #6291fd;
  color: white;
}

.cancel-btn {
  background-color: #d83636;
  color: white;
}

.cancel-btn:hover {
  background-color: #c03535;
  color: white;
}
